@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.primary{
  background-color: rgba(125, 125, 244, 1);
}

*{
  font-family : Outfit;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}

